
/* Title Section */

#title {
  text-align: center;
  height: 30%;
}

.bg-img {
  background-image: url("../assets/mountain.jpg");
}

.profile-pic{
  border-radius: 100%;
  width: 75%;
  border: 8px solid #e3fdfd;
}

.navbar {
  margin-bottom: 50px;
}

.nav-item {
  font-size: 1.2rem;
}

.custom-toggler .navbar-toggler-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(255,255,255)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}

.custom-toggler.navbar-toggler {
  border-color: #fff;
}


/*loooks a little dumb now but later on do a media query */
.greeting-txt {
  padding:0 3% 3%;
  margin: 0 auto;
}

.greeting-txt h1{
  line-height: 1.5;
  font-size: 6rem;
  color: #e3fdfd;
  font-family: "Yellowtail",sans-serif;
}

/* About Me! */
#about-me{
  padding: 7% 5%;
}

.about-txt{
  position:relative;
  top:20%;
  color: black;
  line-height: 2;
  font-family: "Ubuntu", sans-serif;
}

.about-info {
  margin: auto 0;
}

.profile-pic {
     border-radius: 100%;
     width: 80%;
     margin: 0 2%;
}

.about-meet{
  font-family: "Ubuntu", sans-serif;
  font-size: 2rem;
  color: #71c9ce;
  position: relative;
  top: 20%;
}

@media (max-width: 1045px) {
  .greeting-txt {
    text-align: center;
  }

  .greeting-name{
    position:static;
    left: 0;
  }

  .navbar-nav{
    text-align:center;
    margin: 2rem auto 0;
  }

  .navbar-toggler{
    margin: 1rem auto 0;
    color: #fff;
  }

  #about-me .carousel-item {
    position: relative;
    left: 23%;
    width: 50%;
  }

  .about-txt, .about-meet{
    text-align: center;
    margin-right: auto;
    margin-left: auto;
  }

  .about-txt{
    width: 80%;
    margin: auto;
  }
}
